@import "../abstracts/";

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $heading_clr;
  border-radius: 4px;
}

//For firefox - not nice though...
* {
  scrollbar-width: thin;
}
