@import "../abstracts/";

:root {
  font-size: 16px;
}

legend {
  font-size: 2rem;
  color: $heading_clr;
  font-family: "roboto", sans-serif;
}

label,
p {
  font-family: "roboto", sans-serif;
  color: $para_clr;
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}

input,
button {
  color: $para_clr;
  font-size: 1.2rem;
  font-family: "roboto", sans-serif;
}
