.darkmode,
.dark4ever {
  --bg-clr: #1e1e1e;
  --light: #282727;
  --shadow: #121111;

  --outer-light: linear-gradient(315deg, rgba(30, 30, 30, 0.5) 0%, rgba(30, 30, 30, 0) 100%);
  --inner-light: linear-gradient(135deg, rgba(30, 30, 30, 0.5) 0%, rgba(30, 30, 30, 0) 100%);

  --para-clr: #bfb5b5;
  --heading-clr: #cb70a1;
}
