//LIGHTMODE
:root,
.light4ever {
  --bg-clr: #e6e6e6;
  --light: #fff;
  --shadow: #b8b8b8;

  --outer-light: linear-gradient(315deg, rgba(230, 235, 239, 0) 0%, rgba(230, 235, 224, 0.5) 100%);
  --inner-light: linear-gradient(135deg, rgba(230, 235, 239, 0) 0%, rgba(230, 235, 224, 0.5) 100%);

  --para-clr: #898ca1;
  --heading-clr: #cb70a1;
}
